FASTAPI_APP_ENVIRONMENT=
FASTAPI_APP_HOST=
FASTAPI_APP_PORT=
FASTAPI_APP_WORKERS=
FASTAPI_APP_THREADS=

GUNICORN_CONFIG_PATH=

AUTH_USERNAME=
AUTH_PASSWORD=

POSTGRES_URI=
POSTGRES_DATABASE_NAME=
POSTGRES_ECHO=
POSTGRES_POOL_SIZE=
POSTGRES_MAX_OVERFLOW=
POSTGRES_POOL_PRE_PING=
POSTGRES_POOL_RECYCLE=


MS_TEAMS_WEBHOOK_ENABLED=
MS_TEAMS_MESSAGE_SEND_RETRIES=
MS_TEAMS_MESSAGE_RETRY_TIMEOUT_IN_SECONDS=

MS_TEAMS_DEBUG_ALERTS_WEBHOOK_URL=
MS_TEAMS_INFO_ALERTS_WEBHOOK_URL=
MS_TEAMS_ERROR_ALERTS_WEBHOOK_URL=
MS_TEAMS_WARNING_ALERTS_WEBHOOK_URL=
MS_TEAMS_CRITICAL_ALERTS_WEBHOOK_URL=
